*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.photo-gallery{
    display: grid;
    grid-template-columns: repeat(5,300px);
    grid-template-rows: repeat(4,200px);
    column-gap: 23px;
    row-gap: 24px;
    position: absolute;   
    top: 0;      
    left: 0;
}

.item1{
        grid-column-start: 4;
    }

.item2{
        grid-column: 3 ;
        grid-row: 2;
    }

.item3{
        grid-column:5;
        grid-row:2;
    }  
    
.item4{
        grid-column:1;
        grid-row: 4;
    }

 .item5{
        grid-column: 2;
        grid-row: 3;
    }
.item6{
        grid-column: 3;
        grid-row:4;
    }

 .item7{
        grid-column:4;
        grid-row:3;
 }

   .item8{
        grid-column:5 ;
        grid-row:4;
    }
.photo-gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.headline-text{
    display:block;
    margin-top:131px;
    margin-left:120px;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 100%;
}

.lifestyle{
    font-size: 50px;
    margin-left:99px;
    padding-top:121px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 100%;
}
.spanner{
   margin-bottom: 20px; 
}
hr{
    position:absolute;
    width:1100px;
    transform: rotate(90deg);
    left:405px;
}