*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;

}

.grid-wrapper{
  width: fit-content;
  margin: 209px auto;
}

.title{
    display:inline-block;
    font-size:50px;
    line-height: 100%;
    margin-bottom:50px;
    width: fit-content;

}


.photo-gallery{
    display:grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(2,200px);
    gap: 23px;
}

.photo-gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:height 2s;
}

img:hover{
    height:225px;
}







