*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.photo-gallery2{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 200px 200px 200px;
    gap:5px;
    justify-content: center;
    align-items: center;
}

.title{
    font-size:50px;
    font-weight:500px;
    line-height: 100%;
}


.photo-gallery2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:height 2s;
}

 .item1{
    grid-column:1/span 2;  
}

 .item5{
   grid-row:span 2; 
}

.item6{
    grid-column:span 2;
}

.photo-gallery2 img {
  transition: transform 0.5s ease;
}

.photo-gallery2 img:hover {
  transform: translateY(-10px);
}