*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto',sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.photo-gallery{
    display:grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows:repeat(2,200px);
    column-gap: 23px;
    row-gap:24px;
    justify-content: center;
    align-items: center;
    .item3{
    grid-column-start: 4;
}
.item4{
    grid-area: 2/2;
}
.item5{
    grid-column-start: 3;
}
}

.title{
    font-size: 50px;
    font-weight:200px;
    margin-top:209px;
    margin-bottom: 65px;
    letter-spacing: 25px;
    text-align: center;
    padding-right: 750px; 
}
.photo-gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

